.recording {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  transform: translateY(-50%);
}

.canvas{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  transform: translateY(-25%);
}

.recording strong {
  font-size: 20px;
  line-height: 26px;
}

.recording p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.recording a {
  text-decoration: none;
}

.content-camera-preview {
  --background: transparent;
}